@model Careers.Models.PositionViewModel
@using GridMvc.Html

@{
    ViewBag.Title = "View Position";
}

<h2>@Model.Title</h2>
<hr />

<div class="row">
    <div class="col-md-10">
        <p>@Model.Description</p>

        @if (Model.CanViewApplications)
        {
            <h3>Applicants</h3>
            @Html.Grid(Model.Applications).Columns(columns =>
                  {
                      columns.Add()
                          .Sanitized(false)
                          .Encoded(false)
                          .Titled("Candidate")
                          .Sortable(true)
                          .RenderValueAs(a => Html.ActionLink(a.User.FullName, "Details", "Application", new { id = a.Id }, new { }));
                      columns.Add(a => a.Status)
                          .Titled("Status")
                          .Filterable(true)
                          .Sortable(true);
                      columns.Add(a => a.AppliedOn)
                          .Titled("Applied On")
                          .Sortable(true)
                          .RenderValueAs(a => a.AppliedOn.ToShortDateString());
                  }).WithPaging(25);

        }
        @if (Model.HasAppliedToPosition)
        {
            <p>You @Html.ActionLink("applied", "Details", "Application", new { id = Model.UserApplicationId }, new { }) to this position on @Model.UserAppliedOn.ToShortDateString()</p>
        }
    </div>
    <div class="col-md-2">
        <div class="btn-group-vertical">
            @if (Model.CanApplyToPosition)
            {
                @Html.ActionLink("Apply", "Create", "Application", new { id = Model.PositionId }, new { @class = "btn btn-default" })
            }
            @if (Model.CanRemoveApplication)
            {
                @Html.ActionLink("Remove", "Remove", "Application", new { id = Model.UserApplicationId }, new { onclick = "return confirm('Are you sure you want to remove this application?')", @class = "btn btn-default" })
            }
            @if (Model.CanModifyPosition)
            {
                @Html.ActionLink("Edit", "Edit", "Position", new { id = Model.PositionId }, new { @class = "btn btn-default" })
            }
            @Html.ActionLink("Return To Listing", "Index", "Position", new { id = Model.PositionId }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
