@model Careers.Models.PositionEditViewModel

@{
    ViewBag.Title = "Edit Position";
}

<h2>Edit @Model.OriginalTitle</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "Position", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.PositionId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <p class="form-control-static">@Model.PositionId</p>
                    @Html.HiddenFor( m => m.PositionId )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Status, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control" })
                </div>
            </div>
            @Html.HiddenFor(m => m.OriginalTitle)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>