@model Careers.Models.ApplicationViewModel

@{
    ViewBag.Title = Model.PositionTitle;
}

<h2>@Model.PositionTitle</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <p class="form-control-static">@Model.UserName</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <p class="form-control-static">@Model.EmailAddress</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AppliedOn, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <p class="form-control-static">@Model.AppliedOn.ToShortDateString()</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PositionStatus, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <p class="form-control-static">@Model.PositionStatus</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ApplicationStatus, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(m => m.ApplicationStatus, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>